################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RentACar/RentACar/bin/Debug/net8.0/appsettings.Development.json
/RentACar/.vs/RentACar/FileContentIndex
/RentACar/.vs/RentACar/DesignTimeBuild
/RentACar/.vs/RentACar/v17
/RentACar/RentACar/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/RentACar/RentACar/obj/Debug/net8.0/RentACar.AssemblyInfoInputs.cache
/RentACar/RentACar/obj/Debug/net8.0/RentACar.assets.cache
/RentACar/RentACar/obj/Debug/net8.0/RentACar.csproj.AssemblyReference.cache
/RentACar/RentACar/obj/Debug/net8.0/RentACar.csproj.BuildWithSkipAnalyzers
/RentACar/RentACar/obj/Debug/net8.0/RentACar.csproj.CoreCompileInputs.cache
/RentACar/RentACar/obj/Debug/net8.0/RentACar.csproj.FileListAbsolute.txt
/RentACar/RentACar/obj/Debug/net8.0/RentACar.csproj.Up2Date
/RentACar/RentACar/obj/Debug/net8.0/RentACar.sourcelink.json
/RentACar/RentACar/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/RentACar/RentACar/obj/Debug/net8.0/rpswa.dswa.cache.json
/RentACar/RentACar/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/RentACar/RentACar/obj/Debug/net8.0/staticwebassets.build.json
/RentACar/RentACar/obj/Debug/net8.0/staticwebassets.build.json.cache
/RentACar/RentACar/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/RentACar/RentACar/obj/Debug/net8.0/staticwebassets.removed.txt
/RentACar/.vs/RentACar/CopilotIndices/17.14.670.39694/CodeChunks.db
/RentACar/.vs/RentACar/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
/RentACar/.vs/RentACar/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
/RentACar/.vs/RentACar/CopilotIndices/17.14.670.39694/SemanticSymbols.db
/RentACar/.vs/RentACar/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
/RentACar/.vs/RentACar/CopilotIndices/17.14.670.39694/SemanticSymbols.db-wal
/RentACar/RentACar/bin/Debug/net8.0/Dapper.dll
/RentACar/RentACar/bin/Debug/net8.0/Google.Apis.Auth.dll
/RentACar/RentACar/bin/Debug/net8.0/Google.Apis.Core.dll
/RentACar/RentACar/bin/Debug/net8.0/Google.Apis.dll
/RentACar/RentACar/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/RentACar/RentACar/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/RentACar/RentACar/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/RentACar/RentACar/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/RentACar/RentACar/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/RentACar/RentACar/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/RentACar/RentACar/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/RentACar/RentACar/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/RentACar/RentACar/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/RentACar/RentACar/bin/Debug/net8.0/Microsoft.OpenApi.dll
/RentACar/RentACar/bin/Debug/net8.0/Newtonsoft.Json.dll
/RentACar/RentACar/bin/Debug/net8.0/RentACar.deps.json
/RentACar/RentACar/bin/Debug/net8.0/RentACar.dll
/RentACar/RentACar/bin/Debug/net8.0/RentACar.exe
/RentACar/RentACar/bin/Debug/net8.0/RentACar.Interfaces.dll
/RentACar/RentACar/bin/Debug/net8.0/RentACar.Interfaces.pdb
/RentACar/RentACar/bin/Debug/net8.0/RentACar.Map.dll
/RentACar/RentACar/bin/Debug/net8.0/RentACar.Map.pdb
/RentACar/RentACar/bin/Debug/net8.0/RentACar.pdb
/RentACar/RentACar/bin/Debug/net8.0/RentACar.Repository.dll
/RentACar/RentACar/bin/Debug/net8.0/RentACar.Repository.pdb
/RentACar/RentACar/bin/Debug/net8.0/RentACar.runtimeconfig.json
/RentACar/RentACar/bin/Debug/net8.0/RentACar.Service.dll
/RentACar/RentACar/bin/Debug/net8.0/RentACar.Service.pdb
/RentACar/RentACar/bin/Debug/net8.0/RentACar.staticwebassets.endpoints.json
/RentACar/RentACar/bin/Debug/net8.0/RentACar.ViewModel.dll
/RentACar/RentACar/bin/Debug/net8.0/RentACar.ViewModel.pdb
/RentACar/RentACar/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/RentACar/RentACar/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/RentACar/RentACar/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/RentACar/RentACar/bin/Debug/net8.0/System.CodeDom.dll
/RentACar/RentACar/bin/Debug/net8.0/System.Data.SqlClient.dll
/RentACar/RentACar/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/RentACar/RentACar/bin/Debug/net8.0/System.Management.dll
/RentACar/RentACar/obj/project.assets.json
/RentACar/RentACar/obj/project.nuget.cache
/RentACar/RentACar/obj/RentACar.csproj.nuget.dgspec.json
/RentACar/RentACar/obj/RentACar.csproj.nuget.g.props
/RentACar/RentACar/obj/RentACar.csproj.nuget.g.targets
/RentACar/RentACar.Interfaces/bin/Debug/net8.0/RentACar.Interfaces.deps.json
/RentACar/RentACar.Interfaces/bin/Debug/net8.0/RentACar.Interfaces.dll
/RentACar/RentACar.Interfaces/bin/Debug/net8.0/RentACar.Interfaces.pdb
/RentACar/RentACar.Interfaces/bin/Debug/net8.0/RentACar.Models.dll
/RentACar/RentACar.Interfaces/bin/Debug/net8.0/RentACar.Models.pdb
/RentACar/RentACar.Interfaces/bin/Debug/net8.0/RentACar.ViewModel.dll
/RentACar/RentACar.Interfaces/bin/Debug/net8.0/RentACar.ViewModel.pdb
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.Interfaces.AssemblyInfoInputs.cache
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.Interfaces.assets.cache
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.Interfaces.csproj.AssemblyReference.cache
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.Interfaces.csproj.CoreCompileInputs.cache
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.Interfaces.csproj.FileListAbsolute.txt
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.Interfaces.dll
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.Interfaces.GeneratedMSBuildEditorConfig.editorconfig
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.Interfaces.pdb
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.Interfaces.sourcelink.json
/RentACar/RentACar.Interfaces/obj/project.assets.json
/RentACar/RentACar.Interfaces/obj/project.nuget.cache
/RentACar/RentACar.Interfaces/obj/RentACar.Interfaces.csproj.nuget.dgspec.json
/RentACar/RentACar.Interfaces/obj/RentACar.Interfaces.csproj.nuget.g.props
/RentACar/RentACar.Interfaces/obj/RentACar.Interfaces.csproj.nuget.g.targets
/RentACar/RentACar.Map/bin/Debug/net8.0/RentACar.Interfaces.dll
/RentACar/RentACar.Map/bin/Debug/net8.0/RentACar.Interfaces.pdb
/RentACar/RentACar.Map/bin/Debug/net8.0/RentACar.Map.deps.json
/RentACar/RentACar.Map/bin/Debug/net8.0/RentACar.Map.dll
/RentACar/RentACar.Map/bin/Debug/net8.0/RentACar.Map.pdb
/RentACar/RentACar.Map/bin/Debug/net8.0/RentACar.Models.dll
/RentACar/RentACar.Map/bin/Debug/net8.0/RentACar.Models.pdb
/RentACar/RentACar.Map/bin/Debug/net8.0/RentACar.ViewModel.dll
/RentACar/RentACar.Map/bin/Debug/net8.0/RentACar.ViewModel.pdb
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.Map.AssemblyInfoInputs.cache
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.Map.assets.cache
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.Map.csproj.AssemblyReference.cache
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.Map.csproj.CoreCompileInputs.cache
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.Map.csproj.FileListAbsolute.txt
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.Map.dll
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.Map.GeneratedMSBuildEditorConfig.editorconfig
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.Map.pdb
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.Map.sourcelink.json
/RentACar/RentACar.Map/obj/project.assets.json
/RentACar/RentACar.Map/obj/project.nuget.cache
/RentACar/RentACar.Map/obj/RentACar.Map.csproj.nuget.dgspec.json
/RentACar/RentACar.Map/obj/RentACar.Map.csproj.nuget.g.props
/RentACar/RentACar.Map/obj/RentACar.Map.csproj.nuget.g.targets
/RentACar/RentACar.Models/bin/Debug/net8.0/RentACar.Models.deps.json
/RentACar/RentACar.Models/bin/Debug/net8.0/RentACar.Models.dll
/RentACar/RentACar.Models/bin/Debug/net8.0/RentACar.Models.pdb
/RentACar/RentACar.Models/bin/Debug/net8.0/RentACar.ViewModel.dll
/RentACar/RentACar.Models/bin/Debug/net8.0/RentACar.ViewModel.pdb
/RentACar/RentACar.Models/obj/Debug/net8.0/RentACar.Models.AssemblyInfoInputs.cache
/RentACar/RentACar.Models/obj/Debug/net8.0/RentACar.Models.assets.cache
ditorconfig
/RentACar/RentACar.Models/obj/Debug/net8.0/RentACar.Models.pdb
/RentACar/RentACar.Models/obj/Debug/net8.0/RentACar.Models.sourcelink.json
/RentACar/RentACar.Models/obj/project.assets.json
/RentACar/RentACar.Models/obj/project.nuget.cache
/RentACar/RentACar.Models/obj/RentACar.Models.csproj.nuget.dgspec.json
/RentACar/RentACar.Models/obj/RentACar.Models.csproj.nuget.g.props
/RentACar/RentACar.Models/obj/RentACar.Models.csproj.nuget.g.targets
/RentACar/RentACar.Repository/bin/Debug/net8.0/RentACar.Interfaces.dll
/RentACar/RentACar.Repository/bin/Debug/net8.0/RentACar.Interfaces.pdb
/RentACar/RentACar.Repository/bin/Debug/net8.0/RentACar.Models.dll
/RentACar/RentACar.Repository/bin/Debug/net8.0/RentACar.Models.pdb
/RentACar/RentACar.Repository/bin/Debug/net8.0/RentACar.Repository.deps.json
/RentACar/RentACar.Repository/bin/Debug/net8.0/RentACar.Repository.dll
/RentACar/RentACar.Repository/bin/Debug/net8.0/RentACar.Repository.pdb
/RentACar/RentACar.Repository/bin/Debug/net8.0/RentACar.ViewModel.dll
/RentACar/RentACar.Repository/bin/Debug/net8.0/RentACar.ViewModel.pdb
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.Repository.AssemblyInfoInputs.cache
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.Repository.assets.cache
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.Repository.csproj.AssemblyReference.cache
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.Repository.csproj.CoreCompileInputs.cache
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.Repository.csproj.FileListAbsolute.txt
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.Repository.dll
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.Repository.pdb
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.Repository.sourcelink.json
/RentACar/RentACar.Repository/obj/project.assets.json
/RentACar/RentACar.Repository/obj/project.nuget.cache
/RentACar/RentACar.Repository/obj/RentACar.Repository.csproj.nuget.dgspec.json
/RentACar/RentACar.Repository/obj/RentACar.Repository.csproj.nuget.g.props
/RentACar/RentACar.Repository/obj/RentACar.Repository.csproj.nuget.g.targets
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.Interfaces.dll
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.Interfaces.pdb
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.Models.dll
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.Models.pdb
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.Repository.dll
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.Repository.pdb
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.Service.deps.json
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.Service.dll
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.Service.pdb
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.ViewModel.dll
/RentACar/RentACar.Service/bin/Debug/net8.0/RentACar.ViewModel.pdb
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.Service.AssemblyInfoInputs.cache
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.Service.assets.cache
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.Service.csproj.AssemblyReference.cache
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.Service.csproj.CoreCompileInputs.cache
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.Service.csproj.FileListAbsolute.txt
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.Service.dll
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.Service.GeneratedMSBuildEditorConfig.editorconfig
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/RentACar.ViewModel.AssemblyInfoInputs.cache
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/RentACar.ViewModel.assets.cache
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/RentACar.ViewModel.csproj.BuildWithSkipAnalyzers
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/RentACar.ViewModel.csproj.CoreCompileInputs.cache
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/RentACar.ViewModel.csproj.FileListAbsolute.txt
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/RentACar.ViewModel.dll
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/RentACar.ViewModel.pdb
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/RentACar.ViewModel.sourcelink.json
/RentACar/RentACar.ViewModel/obj/project.assets.json
/RentACar/RentACar.ViewModel/obj/project.nuget.cache
/RentACar/RentACar.ViewModel/obj/RentACar.ViewModel.csproj.nuget.dgspec.json
/RentACar/RentACar.ViewModel/obj/RentACar.ViewModel.csproj.nuget.g.props
/RentACar/RentACar.ViewModel/obj/RentACar.ViewModel.csproj.nuget.g.targets
/RentACar/RentACar.ViewModel/bin/Debug/net8.0/RentACar.ViewModel.deps.json
/RentACar/RentACar.ViewModel/bin/Debug/net8.0/RentACar.ViewModel.dll
/RentACar/RentACar.ViewModel/bin/Debug/net8.0/RentACar.ViewModel.pdb
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/ref/RentACar.ViewModel.dll
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/refint/RentACar.ViewModel.dll
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.Service.pdb
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.Service.sourcelink.json
/RentACar/RentACar.Service/obj/project.assets.json
/RentACar/RentACar.Service/obj/project.nuget.cache
/RentACar/RentACar.Service/obj/RentACar.Service.csproj.nuget.dgspec.json
/RentACar/RentACar.Service/obj/RentACar.Service.csproj.nuget.g.props
/RentACar/RentACar.Service/obj/RentACar.Service.csproj.nuget.g.targets
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.Repository.GeneratedMSBuildEditorConfig.editorconfig
/RentACar/RentACar.Service/obj/Debug/net8.0/ref/RentACar.Service.dll
/RentACar/RentACar.Service/obj/Debug/net8.0/refint/RentACar.Service.dll
/RentACar/RentACar.Repository/obj/Debug/net8.0/ref/RentACar.Repository.dll
/RentACar/RentACar.Repository/obj/Debug/net8.0/refint/RentACar.Repository.dll
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.7279A89C.Up2Date
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.F57E0446.Up2Date
/RentACar/RentACar.ViewModel/obj/Debug/net8.0/RentACar.ViewModel.GeneratedMSBuildEditorConfig.editorconfig
/RentACar/RentACar.Models/obj/Debug/net8.0/RentACar.B7FD3D2A.Up2Date
/RentACar/RentACar.Map/obj/Debug/net8.0/ref/RentACar.Map.dll
/RentACar/RentACar.Map/obj/Debug/net8.0/refint/RentACar.Map.dll
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.4AEFF3CB.Up2Date
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/ref/RentACar.Interfaces.dll
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/refint/RentACar.Interfaces.dll
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.F76AED3D.Up2Date
/RentACar/RentACar/obj/Debug/net8.0/ApiEndpoints.json
/RentACar/RentACar/obj/Debug/net8.0/rbcswa.dswa.cache.json
/RentACar/RentACar/obj/Debug/net8.0/ref/RentACar.dll
/RentACar/RentACar/obj/Debug/net8.0/refint/RentACar.dll
/RentACar/RentACar/obj/Debug/net8.0/RentACar.dll
/RentACar/RentACar/obj/Debug/net8.0/RentACar.GeneratedMSBuildEditorConfig.editorconfig
/RentACar/RentACar/obj/Debug/net8.0/RentACar.genruntimeconfig.cache
/RentACar/RentACar/obj/Debug/net8.0/RentACar.pdb
/RentACar/RentACar/obj/Debug/net8.0/apphost.exe
/RentACar/RentACar/obj/Debug/net8.0/RentACar.MvcApplicationPartsAssemblyInfo.cache
/RentACar/.vs/RentACar/config/applicationhost.config
/RentACar/RentACar/bin/Debug/net8.0/runtimes/unix/lib/net8.0/System.Data.SqlClient.dll
/RentACar/RentACar/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Management.dll
/RentACar/RentACar/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Data.SqlClient.dll
/RentACar/RentACar/bin/Debug/net8.0/runtimes/win-arm64/native/sni.dll
/RentACar/RentACar/bin/Debug/net8.0/runtimes/win-x64/native/sni.dll
/RentACar/RentACar/bin/Debug/net8.0/runtimes/win-x86/native/sni.dll
/RentACar/RentACar/obj/Debug/net8.0/RentACar.MvcApplicationPartsAssemblyInfo.cs
/RentACar/RentACar/obj/Debug/net8.0/EndpointInfo/RentACar.OpenApiFiles.cache
/RentACar/RentACar/obj/Debug/net8.0/EndpointInfo/RentACar.json
/RentACar/RentACar/RentACar.csproj.user
/RentACar/.vs/ProjectEvaluation/rentacar.metadata.v9.bin
/RentACar/.vs/ProjectEvaluation/rentacar.projects.v9.bin
/RentACar/.vs/ProjectEvaluation/rentacar.strings.v9.bin
/RentACar/RentACar.Interfaces/obj/Debug/net8.0/RentACar.Interfaces.csproj.BuildWithSkipAnalyzers
/RentACar/RentACar.Map/obj/Debug/net8.0/RentACar.Map.csproj.BuildWithSkipAnalyzers
/RentACar/RentACar.Models/obj/Debug/net8.0/RentACar.Models.csproj.BuildWithSkipAnalyzers
/RentACar/RentACar.Models/obj/Debug/net8.0/RentACar.Models.csproj.FileListAbsolute.txt
/RentACar/RentACar.Repository/obj/Debug/net8.0/RentACar.Repository.csproj.BuildWithSkipAnalyzers
/RentACar/RentACar.Service/obj/Debug/net8.0/RentACar.Service.csproj.BuildWithSkipAnalyzers
